.table-input {
  border: none;
  outline: none;
  background: #020024;
  background: linear-gradient(90deg, #121212, #343434);
  color: white;
  padding: 1rem;
}
.table-input option {
  color: white;
  background: #232323;
  border: none;
  outline: none;
  font-size: 1.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
